/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fadeIn {
  opacity: 0;
  animation: fadeInAnimation 0.5s forwards ease;
}
