@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* IFM Overwrites */
:root {
  --ifm-heading-font-family: Poppins, sans-serif;
  --ifm-heading-font-weight: 500;
  --ifm-heading-line-height: 40px;
  --ifm-h1-font-size: 32pt;
  --ifm-footer-background-color: var(--color-surface-container);
  --ifm-footer-title-color: var(--color-on-surface);
  --ifm-footer-link-color: var(--color-on-surface-variant);
  --ifm-color-primary: var(--color-primary);
  --ifm-menu-color: var(--color-on-surface-variant);
  --ifm-navbar-link-color: var(--color-on-surface);

}

/* Light Mode */
:root {
  --color-primary: #338678;

  --color-surface-container: #f5f5fa;
  --color-surface: #ffffff;

  --color-outline-variant: #e2e2f0;

  --color-on-surface: #0f011d;
  --color-on-surface-variant: #6b6b6b;
}

/* Dark Mode*/
[data-theme='dark'] {
  --color-primary: #85d5c5;

  --color-surface-container: #1c201f;
  --color-surface: #101413;

  --color-outline-variant: #3e4946;

  --color-on-surface: #e0e3e1;
}

/* Overwrite Navbar, Wrapper and Sidebar*/
.navbar {
  background-color: var(--color-surface-container);
  box-shadow: None;
  border-bottom: var(--color-outline-variant) 1px solid;
}

.theme-doc-sidebar-container {
  background-color: var(--color-surface-container);
}

.main-wrapper{
  background-color: var(--color-surface);
}

/* Overwrite all standards */

body {
  /* By default choose color on-surface for texts*/
  color: var(--color-on-surface);
  font-family: Inter, 'sans-serif';
}

/* By default change any border to our border color */
body * {
  border-color: var(--color-outline-variant) !important;
}

.markdown > p {
  /* Material Font Small */
  font-weight: 400;
  font-size: 12pt;
  line-height: 16pt;
  letter-spacing: 0.04pt;
}

.footer {
  border-top: var(--color-surface-container) 1px solid;
}

/* KAPA AI */
#kapa-widget-container button {
  background: var(--color-surface-container) !important;
  color: var(--color-on-surface);
  transition: all 0.2s ease-in-out;
}

#kapa-widget-container button:hover {
  color: var(--ifm-color-primary);
  transition: all 0.2s ease-in-out;
}

/* Tailwind Imports */
@tailwind base;
@tailwind components;
@tailwind utilities;
